:root{
  --block-size: 50px;
  --margin-top: 30px;
}

body {  
  margin: 0;
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.container {
  align-items: center;
}

input {
  width: var(--block-size);
  height: var(--block-size);
  display: inline-block;
  border: none;
  caret-color: transparent;
  cursor: default;
  text-align: center;
  font-size: 30px;
  outline: none;
}

button {
  width: 200px;
  height: 100px;
  font-family: sans-serif;
  font-size: 25px;
  border: none;
  color: white;
  background-color: #0072e2;
  margin: var(--margin-top) 20px 0 20px;
  border-radius: 10px;
  cursor: pointer;
  letter-spacing: 0.5px;
}

button:hover {
  background-color: #006cd6;
}

.progress {
  width: 500px;
  border: 3px solid black;
  border-radius: 20px;
  margin-top: var(--margin-top);
  overflow: hidden;
}

.bar {
  height: 30px;
}