body {  
  margin: 0;
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: white;
  border: none;
  caret-color: transparent;
  cursor: default;
  text-align: center;
  font-size: 30px;
  outline: none;
}

input:focus {
  background-color: #cfedff;
}

.buttons {
  position: absolute;
  justify-content: space-between;
  align-items: center;
  right: 15%;
}

button {
  width: 200px;
  height: 100px;
  font-family: sans-serif;
  font-size: 25px;
  border: none;
  color: white;
  background-color: #0072e2;
  margin: 10px 0;
  border-radius: 10px;
  cursor: pointer;
  letter-spacing: 0.5px;
}

button:hover {
  background-color: #006cd6;
}